@code {

    [Parameter]
    public string Tittle { get; set; }

    [Parameter]
    public string Picture { get; set; }

    [Parameter]
    public string Application { get; set; }

    [Parameter]
    public string SubTittle { get; set; }

    [Parameter]
    public string DefaultColor { get; set; }

    [Parameter]
    public string SecondColor { get; set; }


    private string GetDefaultColor(char prefix, int number)
    {
        string pre = "";

        switch (prefix)
        {
            case 'T': pre = "text"; break;
            case 'O': pre = "to"; break;
            case 'F': pre = "from"; break;
            case 'B': pre = "bg"; break;
        }


        if (DefaultColor.StartsWith("["))
        {
            return $"{pre}-{DefaultColor}";
        }
        return $"{pre}-{DefaultColor}-{number}";
    }

    private string GetSecondColor(char prefix, int number)
    {
        string pre = "";

        switch (prefix)
        {
            case 'T': pre = "text"; break;
            case 'O': pre = "to"; break;
            case 'F': pre = "from"; break;
            case 'B': pre = "bg"; break;
        }


        if (SecondColor.StartsWith("["))
        {
            return $"{pre}-{SecondColor}";
        }
        return $"{pre}-{SecondColor}-{number}";
    }


}

<div class="relative">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40">
        <div class="h-56 @GetSecondColor('F', 500) @GetSecondColor('O', 400) bg-gradient-to-br blur-[106px]"></div>
        <div class="h-32 @GetDefaultColor('F', 400) @GetDefaultColor('0', 700) bg-gradient-to-r blur-[106px]"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
        <div class="relative ml-auto pt-36">
            <div class="mx-auto flex flex-col items-center justify-center text-center lg:w-2/3">

                <img src="@Picture" class="h-20 w-20" />
                <h1 class="mt-2 text-5xl font-bold text-gray-900 md:text-6xl xl:text-7xl dark:text-zinc-200">
                    @Tittle<span class="@GetDefaultColor('T', 500)">@Application</span>.
                </h1>
                <p class="mt-8 text-gray-700 dark:text-gray-500">
                    @SubTittle
                </p>
            </div>
        </div>
    </div>
</div>